body {
    background-color: white;
}

/*Carrossel*/

.owl-carousel {
    width: 90%;
    
    
    text-align: right;
}

.owl-carousel img {
    height: 260px;
}


.containerlista {
    margin: 4% 17% 0 17%;
}

.titulo {
    font-weight: bold;
    color:#00a651;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.novareceita {
    display: flex;
    width: 80%;
    margin-right: 40px;
}

.buscarreceitas { 
    border: none;
    background-color: #78b159;
    padding: 15px 26px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    float: right;
    white-space: nowrap;
}
